bin/
obj/
packages/
/**/*.csproj.user
.vs
blackduck/
BlackduckNugetInspector/nupkg/
BlackduckNugetInspector/artifactory/
BlackduckNugetInspector/inspecot/
BlackduckNugetInspector/tools/
BlackduckNugetInspector/publish-output/
.swip/
BlackduckNugetInspector/output/
